
 
 body{
     width: 90%;
     margin: auto;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 1.2em;
     color: rgb(26, 25, 25);

 }
 .header{
     background-color: rgb(4, 88, 29);
     padding: 3px 10px;
     margin-bottom: 0px;
 }
 .header div{
     display: inline-block;
 }
 .header h1 {
     color:#ffff;
     font-weight:400;
 }
 .header span{
     color:rgb(209, 196, 13)
 }
 .header ul{
     list-style-type: none;
     padding-left: 250px;

 }
 .header ul li{
     display: inline-block;
     margin-left: 50px;  
 }
 .header ul li a{
     text-decoration: none;
     color: #ffff;
 }
 .header ul li a:hover{
     color: rgb(209, 196, 13);
     border-bottom: 1px solid goldenrod;

 }
 .banner {
     height: 300px;
     background-image: url(Media/covid19.jpeg);
     background-size: cover;
     margin: 0px;
     padding: 10%;


 }
 .banner h2 {
     color: rgb(209, 196, 13);
     font-size: 2.7em;

 }
 .banner p{
     color: #ffff;
     font-size: 1.5em;
 }
 .banner button {
     background-color: rgb(4, 88, 29);
     width: 150px;
     height: 50px;
     border: 0px;
     color: rgb(209, 196, 13);

 }
 a {
     color: rgb(209, 196, 13);
 }
 .content iframe{
     float: right;
     margin: 10px;

 }
 .footer {
     background-color: rgb(4, 88, 29);
     color: #ffff;
     text-align: center;
     height: 50px;

 }
.form-content {
    width: 60%;
    margin: auto;
}
form {
    background-color: rgb(4, 88, 29);
    padding: 20px;

}
form input {
    width: 95%;
    height: 30px;
    border: 0px;
    border-radius: 10px;
    margin-top: 5px;
    padding: 10px;

}
textarea {
    height: 60px;
}
.submit {
    background-color: rgb(215, 236, 27);
    color:#ffff
}
ul {
    margin:0;
    padding:0;
    overflow: hidden;
    list-style-type:none;
    background-color:green;
}
li {
    float:right;
}
li a {
    color:white;
    display:block;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
  }
list a:hover {
           background-color:yellow;
          }

ul {
    margin:0;
    padding:0;
    overflow: hidden;
    list-style-type:none;
    background-color:green;
}
li {
    float:right;
}
li a {
    color:white;
    display:block;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
  }
list a:hover {
           background-color:yellow;
          }

table {
   background-color:mediumseagreen;
   background:linear-gradient(aquamarine)
  }
tr{
   border-color:black;
   border: 2px solid ;
  }
th{
   border-color:black;
   border: 2px solid ;
   text-align:left;
  }
td{
  border-color:black;
  border: 2px solid ;
  text-align:center;
  }
  table, th, td { border-collapse: collapse;}

ul {
    margin:0;
    padding:0;
    overflow: hidden;
    list-style-type:none;
    background-color:green;
}
li {
    float:right;
}
li a {
    color:white;
    display:block;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
  }
list a:hover {
           background-color:yellow;
          }

          * {box-sizing: border-box;}

input[type=text], select, textarea {
background-color:white;
width: 100%;
padding: 12px;
border: 0px solid ;
border-radius: 5px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
}

input[type=submit] {
background-color: green;
color: white;
padding: 12px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
width: 100%;
}

input[type=submit]:hover {
background-color: yellow;
}

.container {
border: 0px solid;
width:85%;
margin: 20px auto;
border-radius: 0px;
background-color:mediumseagreen;
padding: 10px;
}